@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Hauptfarben */
  --primary: #144332;
  --primary-light: #1a684b;
  --primary-dark: #0a2219;

  /* System-Farben */
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}